[Desktop Entry]
Version=1.1
Type=Application
Name=CMake
NoDisplay=true
Comment=Cross-platform buildsystem
Icon=CMakeSetup
Exec=cmake-gui %f
Actions=
MimeType=application/x-cmakecache;
Categories=Building;Development;
StartupNotify=true
